streamlit==1.42.2
requests
langchain
huggingface-hub
torch
openai
anthropic
tiktoken
pydantic
rich
markdown-it-py
mdurl
pygments
langchain_community
chromadb==0.6.3  # Use the latest stable version of ChromaDB
sqlite3
